@{title('Blog, test pour codeur de nuit')}
<section id="details_comment">
    <h3>@{model.article.title}</h3>
    <p>
            @{model.article.content}
    </p>
    <p>Par <em> @{model.article.author} </em> le <em>article}@{model.article.date_article.format('dd/MM/yyyy')}</em></p>
    <article>
        <form action="/@{model.article._id}"  method="POST">
            <section>
                <label for="author">Auteur : </label>
                @{text('author')}
            </section>
            <section>
                <label for="content">Commentaire : </label>
                @{textarea('content')}
                </textarea>
            </section>
            <section>
                <input type="submit" value="Commentez" id="on_submit_comment" class="button" />
            </section>
        </form>
    </article>
    <article data-begin id="container_commentaire" >
        <header>
            @{if model.article.sizeComments}
            <h5>Commentaires</h5>
                <section data-id="@{model.article._id}" data-page="@{query.commentMax}" id="list_commentaire">
                    @{foreach comment in model.article.comments}
                    <aside>
                        <p><strong>Auteur : </strong>@{comment.author}</p>
                        <p><strong>Commentaire : </strong>@{comment.content}</p>
                    </aside>
                    <br>
                    @{end}
                </section>
            @{else}
                <section data-id="@{model.article._id}" data-page="@{query.commentMax}" id="list_commentaire">
                    <p>Pas de commentaires</p>
                </section>
            @{fi}
        </header>
        @{if query.commentMax < model.article.sizeComments || (!query.commentMax && model.article.sizeComments > 3)}
            <button  id="more_comment" type="button">Plus de commentaires</button>
        @{fi}
    </article>
    <footer data-end>
         <a href="/">Revenir à la liste d'article</a>
    </footer>
</section>
@{js('commentaire.js')}