@{title('Blog, test pour codeur de nuit')}
<article id="list_article">
    <data>
    @{foreach article in model.articles}
    <section class="unit_article">
        <aside class="img">

        </aside>
        <aside>
            <header>
                <h4>@{article.title}</h4> par <em>@{article.author}</em> le <em>@{article.date_article.format('dd/MM/yyyy')}</em>
            </header>
            <article>
                @{if article.content.length > 300}
                <p> @{article.content.substr(0, 300)}... </p>
                @{else}
                <p>@{article.content}</p>
                @{fi}
            </article>
            <footer>
               (@{article.sizeComments}) Commentaires <em><a href="/@{article._id}">Details ici</a></em>
            </footer>
        </aside>
    </section>
    @{end}
    </data>
    <section class="pagination_list">
        @{foreach page in model.size}
            @{if (!query.page && index == 0) ||  query.page == (index + 1)}
                <button type="button" data-page="@{index + 1}" id="btn_page" class="button">@{index + 1}</button>
            @{else}
                <button type="button" data-page="@{index + 1}"  id="btn_page" class="button button-outline">@{index + 1}</button>
            @{fi}
        @{end}
    </section>
</article>
@{js('article.js')}
@{js('pagination.js')}