body
{
    background: black;
}

section#body
{
    width:800px;
    margin: auto;
}

header.header-fixed nav *
{
    margin-bottom: 0px;
}

section#body,header.header-fixed
{
    background-color: white;

}

.header-fixed
{
    width:800px;
    position: fixed;
    top:0px;
    height:40px;
}

article#content
{
    padding-top: 40px;
    margin-top:30px;
}

footer
{
    text-align:center;
}

footer#footer_application
{
    border-top:1px solid black;
}

hr
{
    margin:0;
    background-color:#606c76;
    border-top:1px solid #606c76;
}

section.unit_article
{
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.unit_article article
{
    word-wrap: break-word;
}

section.unit_article
{
    text-align: justify;
}

section#details_comment
{
    width: 80%;
    margin: auto;
}

section.pagination_list
{
    text-align: center;
}

section.pagination_list button
{
    margin-right: 5px;
}

section#details_comment p
{
    word-wrap:break-word;
}
